.venv/
test.py
enunciado.pdf
resultado.png
__pycache__/
Test_Images/P1_IMG_2402.tif
Test_Images/P2_IMG_2423.tif
Test_Images/P3_IMG_2387_crop.tif
Test_Images/P4_IMG_2267_CFA.tif
Test_Images/P4_CRW_4866_CFA.tif
P1_ResultadosExperimentacion/
P2_ResultadosExperimentacion/
log_valores.csv